.myHeader{
    color:#0072bb;
}

.navbar-item {padding-right:20px;

}
.container {margin:0;
}
.img-fluid_1{
    margin:0 auto;
}
h4 {
    /* Box-model */
    padding: 20px 0;
    color: green;
}
h5 {  
    /* Positioning */
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 24px;
  
    /* Typography */
    text-align: left;
    color: green;
}
.mt-4{
    margin-bottom: 20px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h3{
    margin-bottom: 5px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.form-control {
    border-color:black;
}